
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
$gray:rgb(70, 70, 70);
$mediumgray: rgb(128, 128, 128);
$lightgray: rgb(167, 167, 167);
@mixin button($height, $width, $colorborder){
    
            
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s all;
            cursor: pointer;
            height: $height;
            width: $width;
            border: 1px solid $colorborder;
} 
:root{
    color: $gray;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    @media only screen and (max-device-width:510px){
        font-size: 8px;
        
    }
}
ul{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background: white;
    color: $gray;
    width: 100%;
}
a{
    text-decoration: none;
    color: $gray;
}
h1{
    letter-spacing: 1px;
}
img{
    display: flex;
    height: auto;
}

.menuadaptive950{
    
    @media  only screen and (max-device-width: 950px) {
       
        left: 0;
        position: absolute;
        top: 6rem;
        width: 100%;
        height: max-content;
        display: none;
    }
    &_bottom{
       display: none;
       padding: 3rem 6rem 0 6rem;
       width: calc(100% - 12rem);
       @media  only screen and (max-device-width: 950px) {
        display: block;
        }
        p{
            font-size: 1.2rem;
        }
    }
}
.menuLine_adaptive950{
  
    position: relative;
    height: 6rem;
    display: flex;
    align-items: center;
    width: 100%;
    left: 0;
    z-index: 1000;
    padding-left: 6rem;
    background:  rgb(245, 245, 245);
    display: none;
    text-shadow:0px 0px 1px rgb(48, 48, 48);


    svg{
        transform: rotate(180deg);
        height: 15px;
        cursor: pointer;
    }
    p{
        font-size: 1.6rem;
        padding-left: 13px;
        cursor: pointer;
    }
}
.navbarrElements{
     position: fixed;
    background: white;
    z-index: 1000;
    width: calc(100% - 200px);
    top: 0; 
    padding: 0 100px;
    border-bottom: 1px solid $lightgray;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-device-width: 950px) {
        border-bottom: none;
        padding: 0 6rem; 
        width: calc(100% - 12rem);
     }
    .RegionFlagLink{
        @media only screen and (max-device-width:950px) {
            display: none;
        }
        .text{
        @media only screen and (max-device-width:1200px) {
            display: none;
        }
    }
    }

.navbarr{
    display: flex;
    align-items: center;

    .hamburguer {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: none;
        @media only screen and (max-device-width: 1200px) {
            display: block;
        }
    
    }
    .MenuP{
        display: none;
        @media only screen and (max-device-width: 1200px) {
            display: block;
            font-size: 1.6rem;
            padding-left: 15px;
            position: absolute;
            top: 3px;

        }
    }
    
    .lines {
        background-color: $gray;
        width: 100%;
        height: 1.5px;
        margin: 5px 0;
        transition: all 450ms ease-in;
    }
    
    
    .close-hamburguer {
        .lines { cursor: pointer; background-color: $gray;}
    
        .line-top { transform:  translateY(6.3px) rotate(45deg);}
    
        .line-mid { opacity: 0;}
    
        .line-bottom { transform: translateY(-6.3px) rotate(135deg);}
    }
    
    .navbarr_logo{
        display: flex;
        a{
            display: flex;
            img{
                width: 80px;
                height: 28px;
            } 
        }
        @media only screen and (max-device-width: 1200px) {
            display: none;
        }
    }

    &_menu{
        &_ul{
           display: flex;
        text-decoration: none;
        font-size: 1.6rem;
        padding-left: 22px;
         height: 5rem;
         @media only screen and (max-device-width: 950px) {
            flex-direction: column;
            height: fit-content;
            background-color: rgb(245, 245, 245);
            width: calc(100% - 12rem);
            padding: 0 6rem 2rem 6rem;
        }
        }
        .navbarr_menu_li{
            @media only screen and (max-device-width: 950px) {
               border-bottom: 1px solid rgb(204, 204, 204); 
               
            }
           
        }
        
        position: relative;
        
        display: flex;
        align-items: center;
        @media only screen and (min-width: 950px ) and  (max-device-width: 1200px){
            position: absolute;
            top: 6rem;
            z-index: 1000;
            width: 100%;
            height: 6rem;
            background-color: white;
            left: 0;
            border-top: 1px solid $lightgray;
            padding-left: 50px;
            display: none;
        }
        @media only screen and (max-device-width: 950px) {
            position: initial;
            height: auto;
            align-items: normal;
            padding-left: 0;
            border: none;
            display: block;
        }
       
        li{
            height: 100%;
        }

        .mainMenuLine{
            position: relative;
            margin: 0;
            margin-right: 2.4rem;
            border-bottom: 0 solid $gray;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            @media only screen and (max-device-width: 1200px) and (min-width: 950px) {
                height: 90%;
            }
            @media only screen and (max-device-width: 950px) {
                height: 6rem;
            }
           
        }
        .mainMenuLine:hover{
            
            text-shadow:0px 0px 1px black;
            
        }
        
        .mainMenuLine:before {
            
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            border-bottom: 2px solid $gray; 
            transition: all 0.5s;
            @media only screen and (max-device-width: 950px) {
                display: none;
            }
        }
        .navbarlibefore{
            text-shadow:0px 0px 1px black;
        }
        .navbarlibefore:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $gray; 
            @media only screen and (max-device-width: 950px) {
                display: none;
            }
        }
        
        .mainMenuLine:hover:before {
            width: 100%;
        }
    }
}
.navbarr_logo_adaptive{
    display: none;
    a{
        display: block;
        img{
            width: 80px;
            height: 28px;
        } 
    }
    @media only screen and (max-device-width: 1200px) {
        display: block;
    }
        
}
.navbarr_right{
    display: flex;
    align-items: center;
    .line{
    border-left: 1px solid $gray;
    height: 25px;
    margin: 0 10px;
}
}

}

li{
    list-style: none;
    
   
}

img{
    transition: .6s all;
}

.navbar_experience,.navbar_company,.navbar_careers{
    position: fixed;
    top: 6rem;
    left: 0;
    height: 6rem;
    z-index: 1000;
    background: white;
    border-top: 1px solid $lightgray;
    width: calc(100% - 202px);
    padding: 0 0 0 202px;
    display: none;
    @media only screen and (max-device-width: 1200px) and (min-width: 950px){
        top: 12rem;
        padding-left: 70px;
        left: 0;
        width: calc(100% - 50px);
        background-color: rgb(245, 245, 245);
        border-top: none;
    }
    @media only screen and (max-device-width: 950px){
        position: static;
        height: max-content;
        padding-left: 0;
        border-top: none;
        width: 100%;
        background: whitesmoke;
    }
    &_cover{
        display: flex;
    align-items: center;
    height: 100%;
     
                                                              
    
    
        .navbarDopList{
            padding: 0;
    display: flex;
    @media only screen and (max-device-width: 950px){
        flex-direction: column;
    }
    
    
    li{
            margin-right: 2.4rem;
            font-size: 1.6rem;
            padding: 15px 0;


            .menuline{
                cursor: pointer;
            }
            .menuline:hover{
                text-shadow:0px 0px 1px black;
            }
        }
    }
    } 
}
.shadow{
    text-shadow:0px 0px 1px black;
}

.menu_ModelsTechnology,.menu_MobilityTrends,.menu_InspirationLifestyle, .menu_AudiSport,.menu_profile,
.menu_sustainability,.menu_research,.menu_ComplianceRiskManagement,.menu_pupils,.menu_students,.menu_graduates{
    display: none;
    left: 0;
    @media only screen and (max-device-width: 1200px) and (min-width: 950px){
        top: 18rem;
        padding-left: 70px;
        left: 0;
        width: calc(100% - 70px);
        background-color: white;
        border-top: none;
    }
    @media only screen and (max-device-width:950px){
        position: initial;
    top: 12rem;
    font-weight: normal;
    background:  rgb(245, 245, 245);
    width: calc(100% - 8.5rem);
    padding-left: 8.5rem;
    }
    .menuOpenList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    @media only screen and (max-device-width:950px){
        display: block;
    }
    div{
        height: 6rem;
        display: flex;
        align-items: center;
        @media only screen and (max-device-width:950px){
        height: auto;
        }
        a{
            padding: 2rem 0;
        }
        
    }
    }
    top: 12rem;
    position: fixed;
    background: rgb(241, 241, 241);
    color: $gray;
    z-index: 1000;
    width: calc(100% - 404px);
    padding: 0  202px ;
    
    font-size: 1.6rem;
    font-weight: bold;
    
}

.graytext{
    font-weight: normal;
}

.dark{
    display: none;
    background: rgba(0, 0, 0, 0.726);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 110;
    @media only screen and (max-device-width:950px){
        background: white;
    }
}


.blockMainInfo {
    overflow: hidden;
    margin-top: 6rem;
    position: relative;

    
 
    img{
        width: 100%;
        z-index: 1;
       
    }    
    img:nth-child(1){
        @media only screen and (max-device-width:520px){
            display: none;
        }
    }
    img:nth-child(2){
        display: none;
        @media only screen and (max-device-width:520px){
            display: block;
        }
    }
    &:hover img{
        
        transform: scale(1.1);
        filter: brightness(80%);
    }
    &_text{
        width: 46%;
        margin: 0 27%;
        text-align: center;
        position: absolute;
       top: 10%;
        color: white;
        letter-spacing: 3px;
        z-index: 100;
        h1{
            font-size: 5rem;
            color: white;
            @media only screen and (max-device-width:840px) and (min-width: 570px){
                font-size: 4rem;
            }
            @media only screen and (max-device-width:570px) and (min-width: 510px){
                font-size: 3.5rem;
            }
            @media only screen and (max-device-width:510px){
                font-size: 3rem;
            }
        }
        

    }
    &_text2{
        z-index: 100;
        width: 46%;
        margin: 0 27%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 50%;
        color: white;
        letter-spacing: 3px;
        p{
            font-size: 18px;
            letter-spacing: 2px;
        }

        a{
             margin: 0 auto;
        }
        .button{
           
            @include button(5rem, 23rem, white);
            
            font-size: 1.2rem;
            color: white;
            
            
        }

        .button:hover{
            color: rgb(167, 167, 167);
            border: 1px solid $lightgray;
        }
    }
}
.blockMainInfo_text2_adaptive{
   display: none;
    width: 80%;
    margin: 0 10%; 
    p{
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 0.8px;
        @media only screen and (max-device-width:790px){
            letter-spacing: 0;
        }
    }

    
    .button{
       
        @include button(5rem, 40rem, $gray);
        margin: 0 auto;
        font-size: 1.4rem;
        color: $gray;
        @media only screen and (max-device-width:580px){
            width: 90%;
            margin: 0 5%;
        }
        
    }

    .button:hover{
        color: rgb(167, 167, 167);
    }

}
.mainblock{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    h1{
        font-size: 6rem;
        @media only screen and (max-device-width:1000px) and (min-width: 400px){
           font-size: 5rem;
        }
        @media only screen and (max-device-width:400px){
            font-size: 4rem;
         }
        
    }
    div{
       font-size: 1.8rem; 
       padding: 0 25%;
       line-height: 3rem;
       @media only screen and (max-device-width: 880px) and (min-width: 790px){
        padding: 0 20%;
    }
    @media only screen and (max-device-width:790px) and (min-width: 400px){
        font-size: 1.7rem;
        line-height: 2.8rem;
        padding: 0 10%;
    }
    @media only screen and (max-device-width:400px){
        padding: 0 5%;
     }


    }
}
.wrapper{
    margin: 0 7%;
    @media only screen and (max-device-width:980px){
        margin: 0 5%;
    }
}
.hidden{
    width: 100%;
    overflow: hidden;
    
}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

    .block:hover  img{
        transform: scale(1.2);
        filter: brightness(80%);

    }
    
    .block{
        width: 49.8%;
        margin-bottom: 2rem;
        
        
        img{
            width: 100%;
            display: flex;
            height: auto;
        }
    }

    .info_text{
        padding:  0 20px 0 10px;
        
        color: $gray;

        .caption{
            font-size: 1.5rem;
            color: $lightgray;
        }

        h3{
            font-size: 2.3rem;
            margin: 10px 0;
        }

        .textImg{
            font-size: 1.6rem;
        }
    }
}

.futureIsAnAttitude{
    margin: 10rem 0 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media  only screen and (max-device-width: 1020px) {
        flex-direction: column;
    }
    img{
        width: 60%;
        @media  only screen and (max-device-width: 1020px) {
            width: 100%;
        }
    }
    .text{
        
        padding-left: 20px;
        @media only screen and (max-device-width:1020px){
            padding-left: 0;
            
        }
        h3{
            font-size: 3rem;
            margin: 1rem 0;
        }
        &_info{
            font-size: 1.5rem;
            line-height: 2.5rem;
            letter-spacing: .5px;
        }
        .button{
            margin-bottom: 1rem;
            
            
            @include button(5rem, 25rem, $gray);
           
            font-size: 1.4rem;
            color: $gray; 
            
        
        }
        
        .button:hover{
            color: rgb(117, 117, 117);
        }
        &_caption{
            border-top: 1px solid $lightgray;
        }
    }
}

.info2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 4rem;
    @media only screen and (max-device-width: 830px) {
        flex-direction: column;
    }

    .block:hover  img{
        transform: scale(1.2);
        filter: brightness(80%);
    }
    
    .block{
        width: 33%;
        margin-bottom: 2rem;
        @media only screen and (max-device-width: 830px) {
            width: 100%;
        }

        
        img{
            width: 100%;
            
        }
    }

    .info_text{
        padding:  0 20px 0 10px;
        
        color: $gray;

        .caption{
            font-size: 1.4rem;
            color: $lightgray;
        }

        h3{
            font-size: 2rem;
            margin: 10px 0;
            @media only screen and (max-device-width:920px) and (min-width: 830px){
                font-size: 1.5rem;
            }
            @media only screen and (max-device-width:830px) {
                font-size: 1.7rem;
            }
        }

        .textImg{
            font-size: 1.5rem;
            line-height: 180%;
            @media only screen and (max-device-width:920px) and (min-width: 830px){
                font-size: 1.2rem;
            }
            @media only screen and (max-device-width:830px) {
                font-size: 1.5rem;
            }
        }
    }
}

.football{
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
    .imgFootback{
    
        z-index: 1;
        width: 100%;
        filter: brightness(40%);
        @media only screen and (max-device-width: 840px) {
            display: none; 
        }

    }
.imgFootbackadaptive940{
    display: none;
    z-index: 1;
        width: 100%;
        filter: brightness(40%);
    @media only screen and (max-device-width: 840px) {
        display: block; 
    }
}
.imgFootbackadaptive500{
    display: none;
    z-index: 1;
        width: 100%;
        filter: brightness(40%);
    @media only screen and (max-device-width: 500px) {
        display: block; 
    }
}
    &:hover .imgFootback{
        transform: scale(1.2);
    }
    .fotball_info{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100%;
        display: flex;
        align-items: center;
    
        .wrapper{
            display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        align-items: center;
        @media only screen and (max-device-width: 840px) {
            flex-direction: column; 
        }

        
        
        .imgFoot{
            width: 60%;
            @media only screen and (max-device-width: 840px) {
                width: 100%; 
                margin-bottom: 2rem;
            }
    
        }
        .fotball_info_text{
            padding-left: 2rem;
            
            .p1{
                font-size: 1.3rem;
                margin-top: 0;
            }
            h3{
                font-size: 3rem;
                margin: 0;
            }
            .p2{
                font-size: 1.4rem;
                line-height: 2.2rem;
                letter-spacing: .5px;
                @media only screen and (max-device-width:600px) and (min-width: 510px) {
                    font-size: 1.2rem;
                    line-height: 1.9rem;
                }
                @media only screen and (max-device-width:510px) {
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                }
            }
            .buttonfoot{
                @include button(5rem, 25rem, white);
                
                font-size: 1.4rem;
                color: white;
            }
            .buttonfoot:hover{
                color: $lightgray;
                border: 1px solid $lightgray;
            }
        }
        }
    }
}

.long_blocks{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        @media only screen and (max-device-width:770px){
            flex-direction: column;
        }

        .long_block{
            position: relative;
            width:49.6% ;
            display: flex;
            overflow: hidden;

            margin: .2%;
            @media only screen and (max-device-width:770px){
                width: 100%;
            }
            img{
                
                width: 100%;
                
            }
            &:hover img{
                transform: scale(1.2);
                filter: brightness(60%);
            }

        }

        

}

.Discover_the_world{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 5rem;
        @media only screen and (max-device-width: 768px) and (min-width: 580px){
            font-size: 4rem;
        }
        @media only screen and (max-device-width:580px) and (min-width: 360px){
            font-size: 3rem;
        }
        @media only screen and (max-device-width:360px){
            font-size: 2.6rem;
        }
    }
    img{
        filter: brightness(80%);
    }
    a{
        display: flex;
    }
    .h{
        position: absolute;
        

        z-index: 100;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      
        h3{
            font-size: 2.5rem;
            color: white;
            letter-spacing: 2px;
        }
    }
    
    
    }

.country{
    width: 100%;
    position: relative;
    display: flex;
    margin: 5rem 0;
    background: black;
    img{
        z-index: 1;
    width: 100%;
    filter: brightness(35%);
    }

    img:nth-child(1){
        
    @media only screen and (max-device-width: 910px) {
        display: none;
    }

    }
    img:nth-child(2){
      
    display: none;
    @media only screen and (max-device-width: 910px) and (min-width: 500px) {
        display: block;
    }
    @media only screen and (max-device-width: 500px) {
        display: none;
    }
    }
    img:nth-child(3){
    display: none;
    @media only screen and (max-device-width: 500px) {
        display: block;
    }
    }

    &_search{
        position: absolute;
        top:0;
        left:0;
        z-index: 100;
        height: 100%;
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        h2{
            font-size: 3.5rem;
            letter-spacing: 1px;
            margin-top: 0;
            @media only screen and (max-device-width:720px) and (min-width: 400px){
                margin-bottom: 1rem;
            }
            @media only screen and (max-device-width:400px) and (min-width: 350px){
                font-size: 3rem;
                
            }
            @media only screen and (max-device-width:350px){
                font-size: 2.5rem;
                
            }

            
        }
        .countryForm{
            display: flex;
            align-items: flex-end;
            @media only screen and (max-device-width: 480px) {
               flex-direction: column;
               align-items: normal;
                   width: 90%;
                   padding: 0 5%;
                 }

            .form{
        
                width: 40rem;
                margin-right: 3rem;
                @media only screen and (max-device-width:720px) and (min-width: 480px) {
                    width: 25rem;
                }
                @media only screen and (max-device-width: 480px) {
                    width: 100%;
                    margin-bottom: 1rem;
                    margin-right: 0;
                 }
               
                p{
                    font-size: 1.3rem;
                }
                input{
                background: transparent;
                border: none;
                border-bottom: 1px solid gray;
                outline: none;
                width: 100%;
                color: white;
                height: 3.5rem;
                font-size: 1.7rem;
               
               
                }
                input::-webkit-calendar-picker-indicator {
                     display: none;
                }
                .countryList{
                    display: none;
                    padding: 0;
                    position: absolute;
                    color: $gray;
                    max-height: 300px;
                    overflow: auto;
                    width: inherit;
                    background: white;
                    overflow-x: hidden;
                    li{
                        font-size: 1.5rem;
                        height: 5rem;
                        display: flex;
                        align-items: center;
                        padding: 0 5rem;
                        &:hover{
                            background: $lightgray;
                        }
                    }
                
                   
                }
                
            }
            .formbutton{
                    
                    @include button( 5rem, 22rem, white);
                    font-size: 1.4rem;
                    color: $gray;
                    background-color: white;
                    &:hover{
                        background: rgba(255, 255, 255, 0.5);
                        border: 1px solid transparent;
                    }
                    @media only screen and (max-device-width:720px) {
                        width: 15rem;
                        height: 4rem;
                    }

                }
        }
       
    }
}
.contactLogo{
    display: flex;
    justify-content: center;
    margin: 16rem 0 0;
    @media only screen and (max-device-width:550px){
        margin: 12rem 0 0;
     }
    a{
         margin: 0 2rem;
    }
    svg{
        fill: rgb(37, 37, 37);
        height: auto;
        width: 3rem;
       
    }
}

.footerRegion{
    margin: 2rem 0;
}
.RegionFlagLink_adaptive950{
    display: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray;

    @media only screen and (max-device-width:950px) {
        display: flex;
    }

.RegionFlag{
    display: flex;
    align-items: center;
    img{
    height: 30px;
    }
    .text{
        font-size: 12px;
        margin-left: 13px;
        
        
        p{
            margin: 4px 0;
        }
        p:nth-child(1){
            color: $lightgray;
        }
    
}
}  
}
.RegionFlagLink{
   display: flex;  
 

    .RegionFlag{
        display: flex;
        align-items: center;
        img{
        height: 30px;
        }
        .text{
            font-size: 12px;
            margin-left: 13px;
            
            
            p{
                margin: 4px 0;
            }
            p:nth-child(1){
                color: $lightgray;
            }
        
    }
    }  
}


.footerMenu{
    display: flex;
    justify-content: space-between;
    padding: 3rem 20%;
    border-top: 1.5px solid rgb(214, 214, 214);
    border-bottom: 1.5px solid rgb(214, 214, 214);
    div{
        display: flex;
        flex-direction: column;
        letter-spacing: 0.5px;
        h2{
            font-size: 1.7rem;
        }
        a{
            color: $mediumgray;
            font-size: 1.5rem;
            margin: 1.2rem 0;
            transition: all 0.5s;
          
            &:hover{
                color: $lightgray;
            }
        }
    }
}

.foterText{
    color: $mediumgray;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    margin: 3rem 0;
    line-height: 2rem;
}


@media only screen and (max-device-width: 1260px) {
    .blockMainInfo_text{
        width: 60%;
        margin: 0 20%;
        top: 0;
    }
    .blockMainInfo_text2{
        width: 60%;
        margin: 0 20%;
    }
  }
  @media only screen and (max-device-width: 1100px) {
    .blockMainInfo_text2{
        display: none;
    }
    .blockMainInfo_text2_adaptive{
        display: block;
    }
    .blockMainInfo_text{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    
  }
  @media only screen and (max-device-width: 965px) {
    .blockMainInfo_text{
            width: 80%;
            margin: 0 10%;
        
    }

  }


